<html>

    <head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap" rel="stylesheet">

    <style>

        body {
                /*background: linear-gradient(0deg, #714aff 0%, #EA8D8D 5%,#97dfe6 95%, rgb(29, 29, 124) 100%);*/
                background: linear-gradient(0deg, #EA8D8D , rgb(29, 29, 124));
                font-family: 'PT Serif', serif;
                letter-spacing: 0.5px;
            }

        #text {
            color: white;
            text-align: center;
        }

    </style>

    </head>

    <body>

        <div id="text">
            <h1>{{prediction_text}}</h1>
        </div>

    </body>

</html>